@import 'tailwindcss';

:root {
  --background-color: #765b88;
  --letter-grey: rgb(67 69 69 / 80%);
  --letter-grey-active: rgb(67 69 69 / 100%);
  --letter-green: rgb(45 178 0 / 70%);
  --letter-green-active: rgb(45 178 0 / 90%);
  --letter-yellow: rgb(213 175 18 / 80%);
  --letter-yellow-active: rgb(213 175 18 / 100%);
  --shadow-color: #ff6464aa;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 320px;
}

#root {
  /* max-width: 1280px; */
  /* padding: 2rem; */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  min-width: 320px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.container > div {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  filter: drop-shadow(0 0 2em var(--shadow-color));
  transition: filter 300ms;
}

.simple-keyboard {
  max-width: 850px;
}

.simple-keyboard.hg-theme-default {
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  color: var(--background-color);
}

.letter-grey,
.simple-keyboard.hg-layout-default .hg-button.hg-grey {
  background: var(--letter-grey);
  color: white;
}

.letter-yellow,
.simple-keyboard.hg-layout-default .hg-button.hg-yellow {
  background: var(--letter-yellow);
  color: white;
}

.letter-green,
.simple-keyboard.hg-layout-default .hg-button.hg-green {
  background: var(--letter-green);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-grey.hg-activeButton {
  background: var(--letter-grey-active);
}

.simple-keyboard.hg-layout-default .hg-button.hg-yellow.hg-activeButton {
  background: var(--letter-yellow-active);
}

.simple-keyboard.hg-layout-default .hg-button.hg-green.hg-activeButton {
  background: var(--letter-green-active);
}
